<main class="main">
		<div class="cd-fixed-bg cd-bg-1 row">
			<div class = " col-md-2 col-md-offset-5 welcome">
				<%= button_to "Enter Site", recipes_path, method: :get, class: "btn btn-default" %>
				<span> Or <%= link_to "Sign Up", user_registration_path %></span>
			</div>
		</div> 
	 
		<div class="cd-scrolling-bg cd-color-1 row">
			<div class="cd-container">
				<p class="splash-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
				</p>
			</div> 
		</div> 
		<div class="cd-fixed-bg cd-bg-3 row">
		</div> 
	 
		<div class="cd-scrolling-bg cd-color-3 row">
			<div class="cd-container">
				<p class="splash-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
				</p>
			</div> 
		</div> 
</main>
