@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.field_with_errors {
  @extend .has-error;
}

a{
  color: #FF0000;
}

//nav
.signed_in_as{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

//index
.nav, .navbar-default{
	margin-bottom: 0px;
}
.index-body{
  min-height: 1400px;
  background-color: #008B8B;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 50%;
  height: 50%;
}

//show

#likes_partial{
 display: inline-block;
 padding: 0 10px;
}

.main, html, body{
  /* important */
  height: 100%;
}
 
.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("beans.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("beach.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("boat.jpg");
}
.welcome{
   text-align: center;
   position: relative;
   top: 300px;
  span{
    color: white;
    font-size: 26px;
  }
}
.cd-scrolling-bg {
  min-height: 50%;
  opacity: .6;
  margin-bottom: -10px;

    .splash-content{
    margin: 0 0 10px 10px;
    text-align: center;
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  &.cd-color-1{
    background-color: #759C83;
  }
  &.cd-color-2{
    background-color: #5F5182;
  } 
  &.cd-color-3{
    background-color: #DBD688;
  }
}
